.title {
  color: var(--primary-text);
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: var(--footer-text);
}
.btn{
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background-color: var(--btn-bg-color);
  border-radius: 4px;
  text-align: center;
  color: #fff;
}